.profile {
    background: url(../images/my_ac_image.png)no-repeat;
    background-size: cover!important;
    height: 230px;
}

.profileblue {
    height: 230px;
    background: #007cff91;
}

.profileblack {
    height: 100px;
    background: #233a44b8;
    margin-top: 130px;
}

.profimg {
    text-align: center;
    margin-top: 20px;
}

.proftext h4 {
    text-align: center;
    color: #fff;
}

.proftext h5 {
    text-align: center;
    color: #fff;
}

.proftext2 {
    text-align: center;
    border-right: 1px solid #fff;
    color: #fff;
}

.proftext3 {
    text-align: center;
    color: #fff;
}

.contacttext {
    margin-top: 40px;
}

.proftext5 h5 {
    color: #fff;
}

.proftext5 h3 {
    color: #fff;
}

.proftext4 {
    margin-top: 17px;
}

.onept {
    background: linear-gradient(to bottom, #1470cc 50%, #42a5f6 100%)!important;
}

.twopt {
    background: linear-gradient(to bottom, #80cbc4 0%, #009788 100%) !important;
}

.threept {
    background: linear-gradient(to bottom, #6c76fa 0%, #2f3bc1 100%) !important;
    width: 100% !important;
    height: 11rem !important;
}

.fourpt {
    background: linear-gradient(to bottom, #9dcc66 0%, #698f39 100%) !important;
}

.fivept {
    background: linear-gradient(to right, #d882e5 0%, #ac24c6 100%) !important;
}

.sixpt {
    background: linear-gradient(to right, #ff6b9b 0%, #ec407a 100%) !important;
}

.righttile {
    padding: 0 4px;
}

.middlebox {
    margin: 30px -15px;
    background: #335b7a;
}

.content {
    padding: 15px;
}

.your_bill {
    margin-top: 15px;
}

.bill_payment .tileLayout,
.your_bill .tileLayout {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.counters {
    padding: 20px 0;
}

.acc_no {
    border-right: 1px solid #79a2c1;
    border-left: 1px solid #79a2c1;
}

.counters .col-sm-4 span {
    color: #79a2c1;
    font-size: 15px;
}

.counters .col-xs-4 span {
    color: #79a2c1;
    font-size: 14px;
}

.counters .col-sm-4 h4 {
    font-size: 25px;
    color: #fff;
}

.counters .col-xs-4 h4 {
    font-size: 18px;
    color: #fff;
}

.bill_payment .tileLayout {
    background: linear-gradient(to right, #f78d0a 0%, #fec107 100%)!important;
}

.bill_payment .tileLayout,
.your_bill .tileLayout {
    padding: 13px 0;
}

.bill_payment .tileLayout .sapMGTHdrContent,
.your_bill .tileLayout .sapMGTHdrContent {
    display: none;
}

.your_bill .tileLayout {
    background: linear-gradient(to right, #d61d1c 0%, #fb605c 100%) !important;
}

.share_feedback .tileLayout {
    width: 100%;
    height: auto;
    padding: 5px;
    background: linear-gradient(to bottom, #9dcc66 0%, #698f39 100%) !important;
    color: #fff;
    font-size: 12px;
}

.share_feedback .tileLayout .sapMGTContent,
.share_feedback .tileLayout .sapMGTContent .sapMTileCntContent,
.share_feedback .tileLayout .sapMGTContent .sapMTileCnt {
    height: auto !important;
}

.share_feedback .tileLayout p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.share_feedback .tileLayout p span {
    display: block;
}

.righttile .tileLayout .sapMGTContent .sapMTileCnt {
    margin: 0px !important;
}

.righttile.bottom_tile {
    margin: 10px 0;
}

.sapMGTHdrContent {
    display: none;
}

.righttile .tileLayout {
    padding: 20px 10px;
}

.righttile .tileLayout .sapMGTContent .sapMTileCnt {
    width: 100% !important;
    height: auto !important;
}

.righttile .tileLayout .sapMGTContent .sapMTileCnt .sapMTileCntContent {
    margin: 0;
    padding: 0;
    height: auto;
    text-align: center;
}

.righttile .tileLayout .sapMGTContent .sapMTileCnt .sapMTileCntContent .sapMImg {
    position: static;
}

.righttile .tileLayout .sapMGTContent .sapMTileCnt .sapMTileCntFtrTxt {
    position: static;
    margin: 0;
    padding: 10px 0;
}

.righttile .tileLayout .sapMGTContent {
    height: auto !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile,
    .profileblue,
    .profileblack {
        margin: 0;
        height: auto;
    }
    .share_feedback .tileLayout {
        margin: 10px 0;
    }
    .share_feedback .tileLayout p {
        padding: 0;
    }
    .share_feedback .tileLayout p span {
        display: inline;
    }
}